/* --- Clase de Testare */

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.bg-dark {
  background-color: #273c75 !important;
}


